# node_modules
/maker-backend/node_modules
/maker-frontend/node_modules
# package-lock
/maker-backend/package-lock.json
/maker-frontend/package-lock.json
# System Files
.DS_Store
Thumbs.db
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
# IDE - VSCode
.vscode/*
/maker-frontend/.vscode/settings.json
/maker-frontend/.vscode/tasks.json
/maker-frontend/.vscode/launch.json
/maker-frontend/.vscode/extensions.json
/maker-backend/.vscode/settings.json
/maker-backend/.vscode/tasks.json
/maker-backend/.vscode/launch.json
/maker-backend/.vscode/extensions.json
# prettierrc
.prettierrc
/maker-backend/prettierrc
/maker-frontend/prettierrc

# frontend
# frontend-misc
/maker-frontend/.sass-cache
/maker-frontend/connect.lock
/maker-frontend/coverage
/maker-frontend/libpeerconnection.log
/maker-frontendnpm-debug.log
/maker-frontendyarn-error.log
/maker-frontendtestem.log
/maker-frontend/typings
/maker-frontend/yarn.lock
# frontend-output
/maker-frontend/dist
/maker-frontend/tmp
/maker-frontend/out-tsc

# backend
# backend database
/maker-backend/.env
/maker-backend/config
/maker-backend/yarn.lock
/maker-backend/dist
/maker-backend/.serverless
/maker-backend/env.yml
/maker-backend/yarn-error.log