@import 'scss/color.scss';

.header-link {
  white-space: nowrap;
  padding: 0.25rem;
  margin: 0.25rem;
}

.out-link {
  background-color: $primary;
  color: $white;
  cursor: pointer;
  outline: none;
  transition: 0.25s;

  &:hover {
    background-color: $white;
    color: $primary;
  }
}
