#sign {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
  }
}
