.white-background {
  background-color: $white;
}

.white-gray-background {
  background-color: $white-gray;
}

.light-background {
  background-color: $light;
}

.primary-background {
  background-color: $primary;
}

.dark-background {
  background-color: $dark;
}

.transparent-black-background {
  background-color: $transparent-black;
}

.error-background {
  background-color: $error;
}

.success-background {
  background-color: $success;
}
