.white-border {
  border: 1px solid $white;
}

.white-gray-border {
  border: 1px solid $white-gray;
}

.light-border {
  border: 1px solid $light;
}

.primary-border {
  border: 1px solid $primary;
}

.dark-border {
  border: 1px solid $dark;
}

.error-border {
  border: 1px solid $error;
}

.success-border {
  border: 1px solid $success;
}
