$white: white;
$white-gray: #dfe7f2;
$primary: #5f5fc4;
$light: #928cf7;
$dark: #283593;
$black: black;
$secondary: #ffb300;
$secondaryLight: #ffe54c;
$transparent-black: hsla(0, 0%, 0%, 0.502);
$error: #ff4646;
$success: #1d881d;
