.white-color {
  color: $white;
  &:link {
    color: white;
  }
}

.white-gray-color {
  color: $white-gray;
  &:link {
    color: $white-gray;
  }
}

.light-color {
  color: $light;
  &:link {
    color: $light;
  }
}

.primary-color {
  color: $primary;
  &:link {
    color: $primary;
  }
}

.dark-color {
  color: $dark;
  &:link {
    color: $dark;
  }
}

.black-color {
  color: $black;
  &:link {
    color: $black;
  }
}

.secondary-color {
  color: $secondary;
  &:link {
    color: $secondary;
  }
}

.secondary-light-color {
  color: $secondaryLight;
  &:link {
    color: $secondaryLight;
  }
}

.success-color {
  color: $success;
  &:link {
    color: $success;
  }
}

.error-color {
  color: $error;
  &:link {
    color: $error;
  }
}

.black-color {
  color: $black;
  &:link {
    color: $black;
  }
}
