.small-font-size {
  font-size: 0.75rem;
}

.middle-font-size {
  font-size: 1rem;
  font-weight: 400;
}

.large-font-size {
  font-size: 1.25rem;
  font-weight: 500;
}

.sub-title-font-size {
  font-size: 1.5rem;
  font-weight: 750;
}

.title-font-size {
  font-size: 2rem;
  font-weight: bold;
}
