.small-image-size {
  width: 0.75rem;
  height: 0.75rem;
}

.middle-image-size {
  width: 1rem;
  height: 1rem;
}

.large-image-size {
  width: 1.25rem;
  height: 1.25rem;
}

.sub-title-image-size {
  width: 1.5rem;
  height: 1.5rem;
}

.title-image-size {
  width: 2rem;
  height: 2rem;
}
