.primary-input.success {
  border: 1px solid $success;
}
.primary-input.error {
  border: 1px solid $error;
}
.primary-input {
  border: 1px solid $primary;
  background-color: white;
  outline: none;
  transition: 0.25s;

  &:focus {
    border-color: $dark;
  }
}
