.page-container {
  display: flex;
  justify-content: center;

  .page {
    @media screen and (max-width: 425px) {
      width: 350px;
    }
    @media screen and (min-width: 426px) and (max-width: 768px) {
      width: 426px;
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      width: 769px;
    }
    @media screen and (min-width: 1025px) {
      width: 1025px;
    }
  }
}
