@import './../../../index.scss';

#register-form-logo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 2rem;
}

#register-form {
  padding: 1rem;
}

#register-comment {
  display: flex;
  flex-direction: column;
  padding: {
    right: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
  }

  span {
    margin: {
      top: 0;
      bottom: 0;
      right: 0.5rem;
      left: 0.5rem;
    }
    padding: 0.5rem;
  }

  #link {
    transition: 0.25s;

    &:hover {
      color: $secondary;
    }
  }
}
