<header id="header">
  <div id="first">
    <nav id="logo">
      <div>
        <span routerLink="/main" routerLinkActive="current-link">GFM</span>
      </div>
      <!-- <ul>
        <li><span routerLink="/main" routerLinkActive="current-link">GFM</span></li>
      </ul> -->
    </nav>
    <nav id="menu">
      <ul>
        <li routerLink="/sign/in" routerLinkActive="current-link">
          <span>{{ 'Header.Sign' | translate }} </span>
          <span>{{ 'Header.Login' | translate }}</span>
        </li>
        <li routerLink="sign/up" routerLinkActive="current-link">
          <span>{{ 'Header.Sign' | translate }} </span>
          <span>{{ 'Header.Register' | translate }}</span>
        </li>
      </ul>
    </nav>
  </div>
  <div id="second">
    <nav id="menu">
      <ul>
        <span>
          <img src="/assets/icons/baseline-message-24px.svg" alt="{{ 'Header.Chat' | translate }}">
        </span>
        <span>
          <img src="/assets/icons/baseline-search-24px.svg" alt="{{ 'Header.Choice' | translate }}">
        </span>
        <span>
          <img src="/assets/icons/baseline-border_color-24px.svg" alt="{{ 'Header.Find' | translate}}">
        </span>
      </ul>
    </nav>
  </div>
</header>