$mobile: 425px;
$tablet: 768px;

.imhere {
  font-weight: bold;
}

#nav {
  box-shadow: 0px 3px 3px 3px #222d3d;
  background-color: #1d2634;
  color: #e9e1e0;
  padding: 1.5rem;
  display: flex;

  ul {
    flex: 1;
    padding: 0;
    margin: 0;
  }

  span {
    cursor: pointer;
    outline: none;
  }

  #logo {
    display: flex;
    align-items: center;
    font: {
      size: 2rem;
    }
  }

  #menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
    }

    #auth {
      padding: {
        right: 0.5rem;
        left: 0.5rem;
      }
    }

    #lang {
      padding: {
        right: 1.5rem;
        left: 1.5rem;
      }
    }
  }
}

// Color theme update
// div {
//   color: #E9E1E0;
//   color: #CC7C41;
//   color: #A19192;
//   color: #AC4A30;
//   color: #1D2634;
// }
