$mobile: 425px;
$tablet: 768px;

.imhere {
  color: #2eb2fc;
}

#nav {
  background-color: #33353a;
  color: #ffffff;
  padding: 1.5rem;
  display: flex;

  ul {
    flex: 1;
    padding: 0;
    margin: 0;
  }

  span {
    cursor: pointer;
    outline: none;
  }

  #logo {
    display: flex;
    align-items: center;
    font: {
      size: 2rem;
    }
  }

  #menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
    }

    #auth {
      padding: {
        right: 0.5rem;
        left: 0.5rem;
      }
    }

    #lang {
      padding: {
        right: 1.5rem;
        left: 1.5rem;
      }
    }
  }
}

// div {
//   color: #36428e;
//   color: #3b82f8;
//   color: #2eb2fc;
//   color: #ffffff;
// }
