#header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  box-shadow: #3d3d481a 0px 1px 1px 0px;

  #logo-link {
    padding: 0.25rem;
    font-style: italic;
  }

  > div:nth-child(2) {
    display: flex;
    overflow-x: auto;
  }
}
