#login-inputs {
  display: flex;
  flex-direction: column;

  input {
    margin: 0.5rem;
    padding: 1rem;
  }

  button {
    margin: 0.5rem;
    padding: 1rem;
  }
}

#login-buttons {
  display: flex;

  button {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
  }
}
