<div id="sign-in">
  <div id="logo">
    <span>{{ 'Sign.in.logo' | translate }}</span>
  </div>

  <div id="form">
    <div id="inputs">
      <div>
        <span [ngClass]="eError ? 'f' : 's'">{{ 'Sign.in.wem' | translate }}</span>
      </div>
      <input
        type="text"
        placeholder="{{ 'Sign.in.em' | translate }}"
        [ngClass]="eError ? 'f' : 's'"
        (keyup.enter)="changeFocus('password')"
        #em
      />
      <div>
        <span [ngClass]="pError ? 'f' : 's'">{{ 'Sign.in.wpw1' | translate }}</span>
        <span [ngClass]="pError ? 'f' : 's'">{{ 'Sign.in.wpw2' | translate }}</span>
      </div>
      <input
        type="password"
        placeholder="{{ 'Sign.in.pw' | translate }}"
        [ngClass]="pError ? 'f' : 's'"
        (keyup.enter)="signIn(em, pw)"
        #pw
      />
    </div>
    <div id="buttons">
      <button (click)="signIn(em, pw)">
        <label [hidden]="(user$ | async).pending">{{ 'Sign.in.logo' | translate }}</label>
        <img [hidden]="!(user$ | async).pending" src="/assets/images/svg-loaders/three-dots.svg" alt="loading image" />
      </button>
    </div>
  </div>

  <div id="comment">
    <div>
      <span>
        {{ 'Sign.in.remember' | translate }} <span routerLink="/sign/findem" id="find">{{ 'Sign.in.em' | translate }}</span> /
        <span routerLink="/sign/findpw" id="find">{{ 'Sign.in.pw' | translate }}</span>
      </span>
    </div>

    <div>
      <span routerLink="/sign/up" id="find">{{ 'Sign.in.notup' | translate }}</span>
    </div>
  </div>
</div>
